/* TSOS.css */

:root {
    --main-pink: #ff3d5b;
    --main-blue: #a2e0d5;
    --main-yellow: #fdee06;
    --not-white: #d5d5d5;
    --bgr-gray: #292929;
    --glow-pink: #712032;
    --dull-pink: #ff3d5b;
    --dull-yellow: #9b8c06;
}

* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--glow-pink);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-pink);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--dull-pink);
}


body {
    /*background: #909193 url(distrib/images/linen.png) repeat;*/
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12pt;
    font-weight: bold;
    font-style: normal;
    color: var(--main-pink);
    background: black;
    text-shadow: 0px 0px 5px #ff4362;

}

h1 {
    color: #ff3d5b;
    font-size: 24pt;
    font-weight: normal;
    font-style: normal;
    border-bottom: 1px solid black;
}

h2 {
    color: #ff3d5b;
    font-size: 20pt;
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    font-style: normal;
    color: #ff3d5b;
}

.col-left {
    float: left;
    margin: 0 2.5%;
    width: 23.33%;
    min-width: 500px;
}

.col-center {
    float: left;
    width: 23.33%;
    margin: 0 2.5%;
    /*padding:0 40px;*/
}

.col-right {
    float: left;
    width: 33.33%;
    padding-right: 40px;
}

.cell-mem {
    font-weight: bold;
    color: var(--dull-pink);
    text-shadow: 0px 0px 5px var(--dull-pink);
}

.cell-mem.curOp {
    color: var(--main-yellow);
    text-shadow: 0px 0px 5px var(--dull-yellow);
}

.cell-mem.curParam {
    color: var(--main-blue);
    text-shadow: 0px 0px 5px var(--main-blue);
}

.cell-mem.curRW {
    color: var(--not-white);
    text-shadow: 0px 0px 5px var(--not-white);
}

.cell-memLabel {
    font-weight: normal;
    color: var(--not-white);
    text-shadow: 0px 0px 5px var(--not-white);
}

.cell-diskLabel {
    font-weight: normal;
    color: var(--not-white);
    text-shadow: 0px 0px 5px var(--not-white);
}

textarea {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 10pt;
    background: var(--bgr-gray);
    color: var(--main-blue);
    border: 2px solid var(--dull-pink);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 45px;
    overflow: hidden;
    background-color: #000000;
    color: #ff3d5b;
    border: 2px solid #ff3d5b;
}

li {
    float: left;
    display: block;
    color: #ff3d5b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid #ff3d5b;
    color: #ff3d5b;
    background: #000000;
    text-shadow: 0px 0px 5px #ff4362;
    /*box-shadow: 0px 0px 2px #ff4362;*/
}

th, td {
    padding: 4px;
}

#display {
    background-color: #292929;
    border: 2px solid #a2e0d5;
    cursor: default;
}

.normal_button {
    text-align: center;
    padding: 5px;
    color: #fdee06;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12pt;
    text-shadow: 0px 0px 10px #fdee06;
    font-weight: bold;
    font-style: normal;
    background-color: #13080a;
    text-decoration: none;
    border: 2px solid #fdee06;
}

.mem_button {
    text-align: center;
    padding: 5px;
    color: var(--main-pink);
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12pt;
    text-shadow: 0px 0px 10px var(--main-pink);;
    font-weight: bold;
    font-style: normal;
    background-color: #13080a;
    text-decoration: none;
    border: 2px solid var(--main-pink);
}

.normal_button:disabled {
    border: 2px solid #9b8c06;
    color: #9b8c06;
    text-shadow: 0 0 0;
}


.footerText {
    color: #ff3d5b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    text-align: center;
}
